.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;


    ul {
        width: 200%;
        height: 200%;
        transform: rotate(23deg) translate(-20%, -20%);
        transform-origin: center;

        display: flex;

        li {
            position: relative;
            height: 100%;
            width: 20%;

            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
            }
        }
    }
}

main {
    .se-01 {
        height: 100vh;
        width: 100%;

        .group-se {
            @include wh100;
            @include flex-center-mid;
        }

        h2 {
            font-size: clamp(24px, calc(58/ 1600 * 100vw), 58px);
            line-height: 1.5;
            visibility: hidden;

            &>div {

                text-align: center !important;
                // &>div {
                //     opacity: 0;
                // }
            }
        }

    }

    .se-02 {
        font-size: clamp(18px, calc(28/ 1600 * 100vw), 28px);
        padding: 40px 40px 150px;

        p {
            line-height: 1.5;

            b {
                font-size: clamp(22px, calc(32/ 1600 * 100vw), 32px);
                font-weight: bold;
                margin-bottom: 20px;
                display: block;
            }
        }

        .char {
            will-change: transform;
        }
    }

    .se-03 {
        &.scroll-on {
            .work-top {
                em {
                    opacity: 1;
                    transform: translateY(0%);
                }

                i {
                    &::before {
                        width: 100%;
                    }
                }
            }

            .group-se {
                opacity: 1;
            }
        }

        .group-se {
            opacity: 0;
            transition: 0.5s;
            transition-delay: 2s;
        }

        .work-top {
            display: flex;
            gap: 15px;
            align-items: center;

            i {
                flex: 1;
                position: relative;
                display: block;
                height: 2px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background: #696969;
                    display: block;
                    transition: 0.5s;
                }

                &:last-child {
                    &::before {
                        transition-delay: 1.7s;
                    }
                }
            }

            span {
                overflow: hidden;
                font-size: clamp(24px, calc(58/ 1600 * 100vw), 58px);
                display: flex;
            }

            em {
                opacity: 0;
                transition: 0.5s;
                transform: translateY(100%);

                @for $i from 1 through 12 {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.4 + (0.1 * $i)}s;
                    }
                }
            }
        }

        .work-list {
            @include mobile {
                padding: 0 20px;
            }
        }

        .work-item {

            perspective: 700px;

            &.scroll-on {
                a {
                    transform: rotateX(0deg);
                    opacity: 1;
                }
            }

            &.scroll-on2 {
                a {
                    transform: rotateX(-15deg);
                }
            }

            height: 90vh;
            min-height: 600px;

            @include mobile {
                height: auto;
                min-height: auto;
                justify-content: start;
                border-bottom: 1px solid #696969;
                perspective: none;

                a {
                    padding: 40px 0;
                    display: block;
                    width: 100%;
                }
            }

            position: relative;

            @for $i from 1 through 11 {
                &:nth-child(#{$i}) {
                    z-index: #{12 - $i};
                }
            }

            transition: 0.5s;
            width: 100%;
            @include flex-center-mid;

            a {
                opacity: 0.5;
                transition: 1s;
                position: relative;
                transform: rotateX(15deg);

                &:hover {
                    .img-box {
                        opacity: 0.3;
                    }

                    .text-box {
                        opacity: 1;
                        transform: translate(-50%, -50%) skewX(0deg);
                    }
                }
            }

            .img-box {
                @include mobile {
                    display: none;
                }

                transition: 0.5s;

                @include desktop {
                    max-width: 70vw;
                }

                @include mobile {
                    max-width: 90vw;
                    border: 5px solid #454545;
                }

                max-width: 1000px;
                border: 10px solid #454545;
                border-radius: 20px;
                background: #454545;


                img {
                    border-radius: 15px;
                }
            }

            .text-box {
                @include mobile {
                    position: relative;
                    top: 0;
                    left: 0;
                    transform: translate(0, 0) !important;
                    opacity: 1;
                    flex-direction: row;
                    justify-content: start;
                    gap: 10px;
                    width: 100%;

                }

                @include mobilemin {
                    flex-wrap: wrap;
                }

                @include wh100;

                @include flex-column {
                    align-items: center;
                    justify-content: center;
                }

                white-space: nowrap;
                opacity: 0;
                transition: 0.5s;
                @include absolute_top_left_center("skewX(-15deg)");

                h3 {
                    @include mobile {
                        margin: 0;
                        order: -1;
                    }

                    font-size: clamp(24px, calc(100 / 1600 * 100vw), 100px);
                    margin: 20px 0;
                    color: #ffe200;
                }

                .year {
                    font-size: 34px;

                    @include mobile {
                        font-size: 14px;
                    }
                }

                .tag {
                    @include mobile {
                        flex: 1;
                        font-size: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;

                        em {
                            padding: 5px 10px;
                            border: 1px solid #696969;
                            border-radius: 25px;
                        }
                    }

                    @include mobilemin {
                        width: 100%;
                        flex: none;
                    }
                }
            }
        }
    }
}