.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;


    ul {
        width: 150%;
        height: 200%;
        transform: rotate(23deg) translate(-20%, -20%);
        transform-origin: center;

        display: flex;

        li {
            position: relative;
            height: 100%;
            width: 20%;

            div {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
            }
        }
    }
}

main {
    .se-01 {
        height: 100vh;
        width: 100%;

        .group-se {
            @include wh100;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h2 {
            font-size: clamp(24px, calc(58/ 1600 * 100vw), 58px);
            line-height: 1.5;
            visibility: hidden;

            &>div {

                text-align: center !important;
                // &>div {
                //     opacity: 0;
                // }
            }
        }
    }

    .se-02 {

        .work-item {

            perspective: 700px;

            &.scroll-on {
                a {
                    transform: rotateX(0deg);
                    opacity: 1;
                }
            }

            &.scroll-on2 {
                a {
                    transform: rotateX(-15deg);
                }
            }

            height: 90vh;
            @include mobile{
                padding: 80px 0;
                    height: auto;
                }
            position: relative;

            @for $i from 1 through 11 {
                &:nth-child(#{$i}) {
                    z-index: #{12 - $i};
                }
            }

            transition: 0.5s;
            width: 100%;
            @include flex-center-mid;

            a {
                opacity: 0.5;
                transition: 1s;
                position: relative;
                transform: rotateX(15deg);

                &:hover {
                    .img-box {
                        opacity: 0.3;
                    }

                    .text-box {
                        opacity: 1;
                        transform: translate(-50%, -50%) skewX(0deg);
                    }
                }
            }

            .img-box {
                transition: 0.5s;
                @include desktop{
                    max-width: 70vw;
                }
                max-width: 1000px;
                border: 10px solid #454545;
                border-radius: 20px;
                background: #454545;

                img {
                    border-radius: 15px;
                }
            }

            .text-box {
                @include wh100;

                @include flex-column {
                    align-items: center;
                    justify-content: center;
                }

                white-space: nowrap;
                opacity: 0;
                transition: 0.5s;
                @include absolute_top_left_center("skewX(-15deg)");

                h3 {
                    font-size: clamp(30px, calc(100 / 1600 * 100vw), 100px);
                    margin: 20px 0;
                    color: #ffe200;
                }

                .year {
                    font-size: 34px;
                }
            }
        }
    }
}